@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root {
  --font-host-grotesk: 'Host Grotesk', sans-serif;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
